# Ignore Gradle files
.gradle
build/

# Ignore top level IDEA files
/.idea/**/*
!.idea/codeStyles
!.idea/codeStyles/*
!.idea/copyright/*
*.hprof

# configuration
.iws
.ipr
.iml
local.properties

# Android Studio / IntelliJ IDEA
*.iws
/.idea/libraries
/.idea/tasks.xml
/.idea/caches
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/out/

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/build/
/projectFilesBackup*
android_studio_ws
android_studio_ws/*